.modal-field {
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1rem;
}

.modal-field:focus{
    border: 2px solid #1fb6ff;
}

@media (max-width:480px) {
    .modal-field {
        width: 100%;
    }
}