.modal-close {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #505050;
}

.modal-close:hover {
    background-color: #ff4949;
    cursor: pointer;
    color: white;
    border-radius: 0 3px 0 0;
}