.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    user-select: none;
}

@media (max-width:480px) {
    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }
}