.modal-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: white;
    margin: 15vh auto;
    gap: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
    user-select: none;
}

@media (max-width:480px) {
    .modal-content {
        width: 100%;
        height: 100%;
    }
}