.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    opacity: 0;
    z-index: -1;
}
.modal.active {
    opacity: 1;
    z-index: 1;
}

