.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid  #CCC;
    background-color: var(--primary-color);
}

.modal-header>h1 {
    margin: 0 auto;
    color:black;
    text-transform: uppercase;
    font-size: 1.5rem;
}